@import "./global/variable.css";
@import "./global/reset.css";

.footer-section{
    background-color: #282828;
    color: var(--white);
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap: 50px;
    padding: 20px 90px;
    justify-content: space-between;
    
    }
    .footer-container-left{
    display: flex;
    gap: 250px;
    }
    .footer-container-left img{
    padding: 30px 0 ;
    max-width: 100%;
    }
    .footer-container-right{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
    max-width: 975px;
    font-family: var(--secondary-font);
    }
    .footer-container-right h5 {
        font-family: var(--primary-font);
    }
    .footer-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .title-wrapper{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    }
    .title{
    border-top: 1px solid white;
    padding-top: 20px;
    font-size: 30px;
    font-weight: var(--thick);
    margin-bottom: 20px;
    margin-top: 35px;
    }
    .subtitle-list{
    color: white;
    list-style: none;
    font-size: 20px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    gap: 15px;
    }
    .subtitle-list a {
    display: flex;
    justify-content: flex-start;
    color: white;
    text-decoration: none;
    }

    @media (max-width: 1300px) {
        .footer-container-right{
            width: 100%;
            gap: 10px;
        }
        .footer-container-left{
            gap: 50px;
        }
        .title{
            font-size: var(--font-xxl);
        }
        .subtitle{
            font-size: var(--font-l);
        }
    }
    @media (max-width:1092px) {
        .footer-container-right{
            width: 100%;
        }
        .title{
            font-size: 18px;
        }
        .subtitle{
            font-size: 16px;
        }

    }
    @media (max-width:995px) {
        .footer-section {
            padding: 50px;
            flex-wrap: wrap;
            gap: 0;
        }
        .footer-container-left img{
            margin-left: 0;
        }
        .footer-container-right {
            flex-wrap: wrap;
        }
        .footer-container-left img{
            width: 80%;
        }
    }

    @media (max-width:585px) {
        .footer-section {
            padding: 20px;
            flex-wrap: wrap;
        }
        .footer-container-left img{
            padding: 20px;
        }
        .footer-container-right {
            flex-wrap: wrap;
            padding: 0 25px;
        }
        .footer-container-left img{
            width: 80%;
        }
    }