@import "./global/variable.css";
@import "./global/reset.css";

/* Header Section Start */
.header-section{
    background-color: #282828;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    height: 98px;
}
.header-container{
    display: flex;
    align-items: center;
    width: var(--max-width);
    justify-content: space-between;
    margin: 0 auto;
    color: #F9F9F9;
    font-size: 20px;
    max-width: 1440px;
    padding: 2mm;
    width: 100%;
}
.nav-container{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-left: auto ;
}
.eskool-logo{
    width: 365px;
    height: 40px;
}
.nav-list{
    display: flex;
    gap: 50px;
    list-style: none;
}
.nav-item{
    position: relative;
    list-style-type: none;
    gap: 10px;
    align-items: center;
}

.nav-link{
    color: var(--white);
    font-family: var(--secondary-font);
    font-size: var(--font-l);
    font-weight: var(--regular);
    line-height: 30px;
    opacity: 0.7;
    text-decoration: none;
    transition: opacity 0.2s ease 0.2s;
}
.nav-item.active , .nav-link:hover{
    opacity: 1;
}
.nav-item img{
    height: 15px;
    width: 15px;
    margin-right: 10px;
}
.nav-item.active::after, .nav-item:hover::after{
    opacity: 1;
}
.contact-button{
    font-family: var(--secondary-font);
    font-weight: var(--regular);
    font-size: var(--font-xl);
    color: var(--white);
    border: 1px solid #fe6839;;
    border-radius: 50px;
    padding: 20px 30px;
    background: transparent;
    line-height: 30px;
    cursor: pointer;
    transition:0.3s ease;
    margin-left: 30px;
    flex-wrap: nowrap;
}

.mobile-menu-button{
    display: none;
    color: var(--white);
    font-family: var(--primary-font);
    font-size: var(--font-heading-large);
    font-weight: var(--regular);
    font-style: normal;
    font-optical-sizing: auto;
    line-height: normal;
    cursor: pointer;
    transition: all 2.0s ease 2.0s ;
    padding: 10px 20px;
    position: relative;
    z-index: 10;
}
.mobile-menu-button:hover{
    color: var(--orange);
    transform: scale(1.2);
}
@media screen and (max-width: 1440px) {
    .header-section{
        height: 98px;
    }
    .eskool-logo{
        width: 300px;
    }
    .nav-container, .nav-list{
        gap: 50px;
        max-width: 100%;
        padding-right: 20px;
    }
    .nav-link , .contact-button{
        font-size: var(--font-l);
    }
    .nav-item::after{
        width: 10px;
        height: 10px;
        left: -20px;
    }
    .contact-button{
        margin-right: 70px;
    }
}
@media screen and (max-width: 1046px) {
    .header-section{
        height: 88px;
    }
    .eskool-logo{
        padding: 20px 10px;
        width: 250px;
    }
    .nav-container, .nav-list{
        max-width: 100%;
        padding-right: 20px;
        font-size: var(--font-m);
    }
    .nav-item::after{
        width: 8px;
        height: 8px;
        left: -30px;
    }
    .contact-button{
        margin-left: 10px;
        margin-right: 20px;
    }

}
@media  screen and (max-width: 946px) {
    .header-section{
        height: 78px;
        gap: 10px;
    }
    .nav-container{
        display: none;
    }
    .eskool-logo{
        padding: 20px 10px;
        width: 200px;
    }
    .nav-list{
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }
    .mobile-menu-button{
        display: block;
        position: absolute;
        right: 20px;
        font-size: var(--font-heading-large);
        padding: 15px;
    }
    .contact-button{
        display: none;
        margin-left: 10px;
        font-size: var(--font-m);
    }
}
/* Header Section End */

    /* About Section Start */

    .about-section{
        width: 100%;
        background-color: var(--white);
    }
    .header-wrapper{
        width: 100%;
        max-width: 1440px;
        margin-inline: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 20px;
        
        align-items: center;
        justify-content: space-between; 
    
    }
   
    
    .about-header{
        padding: 50px;
        background-color: var(--off-white);
    }
    .header-chip{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;

    }
    .vector-hr{
        width: 17%;
        position: absolute;
        right: 0;
        border: 1.5px solid var(--main-black);
    }
    .chip-text{
        font-family: var(--secondary-font);
        font-weight: var(--medium) ;
        color:  #8D8D8D;
    }
    .chip-icon::before {
        content: "◆";
        color:  #8D8D8D;
        font-size: 20px;
        margin-right: 8px;
        display: inline-block;
    }
    
    .header-content{
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap: 35px;
        max-width: 900px;
    }
    .header-content , .about-header-title{
        display: flex;
        flex-direction: column;
        font-size: 60px;
    }
    .about-header-title{
        font-family: var(--primary-font);
        font-size: 45px;
        font-weight: var(--thick);
        line-height: 100%;
        width: 100%;
        color: #282828;
    }
    .about-cta-btn{
        width: 200px;
        line-height: 30px;
        font-size: 20px;
        font-weight: var(--medium);
        border-radius: 50px;
        border:1px solid #282828;
        font-family:var(--secondary-font);
        display: flex;
        align-items: center;
        padding: 20px;
        gap: 20px;
        background: none;
    }
    

    /* Cards Container */
    
    .about-cards-container{
        padding: 100px 0;
        position: relative;
        background: var(--white);
        z-index: 0;
    }
    .cards-wrapper{
        max-width: 1440px;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        gap: 60px;
        padding : 0 20px;
    }
    .about-card{
        flex-grow: 1;
        width: 100%;
        height: 475px;
        padding: 30px;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        max-width: 480px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .card-title{
        font-family: var(--primary-font);
        font-weight: var(--thick)    ;
        line-height: 100%;
        font-size: 35px;
        width: 270px;
    }
    .card-highlight{
        color: var(--white);
        padding: 10px;
        width: 300px;

    }
    .card-header{
        padding: 20px;
    }
    .card-header ,.card-footer{
        position: relative;
        z-index: 2;
    }
    .card-footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 0;
    }
    .card-1-btn{
        width: 200px;
        line-height: 30px;
        font-size: 20px;
        font-weight: var(--medium);
        border-radius: 50px;
        border:1px solid #282828;
        font-family:var(--secondary-font);
        display: flex;
        align-items: center;
        padding: 20px;
        gap: 15px;
        background: none;
    }
    .card-2-btn{
        width: 200px;
        line-height: 30px;
        font-size: 20px;
        font-weight: var(--medium);
        border-radius: 50px;
        border:1px solid var(--white);
        color: var(--white);
        font-family:var(--secondary-font);
        display: flex;
        align-items: center;
        padding: 20px;
        gap: 20px;
        background: none;
    }
    .card-3-btn{
        width: 200px;
        line-height: 30px;
        font-size: 20px;
        font-weight: var(--medium);
        border-radius: 50px;
        border:1px solid var(--orange);
        font-family:var(--secondary-font);
        color: var(--white);
        display: flex;
        align-items: center;
        padding: 20px;
        gap: 15px;
        background: none;
    }
    .about-line-1{
        position: absolute;
        z-index: -1;
        bottom: 20%;
        left:0 ;
    }
    .about-line-2{
        position: absolute;
        z-index: -1;
        top: 5%;
        right: 0;
        width: 450px;
        transform: rotate(2deg);
    }

    .card-line{
    position: absolute;
    width: 105px;
    height: 2px;
    background-color:var(--white) ;
    top: 155px;
    left: -35px;
    transform: rotate(-90deg);
    }

    .about-card::after{
        content: "";
        width: 100%;
        height: 100%;
        margin: auto;
        position: absolute;
        background-repeat: no-repeat;
        z-index: 1;
    }
    
    .about-card:first-child {
    background-color: var(--off-white);
    } 
    .about-card:first-child {
        background-color: var(--off-white);
        background-image: url("/assets/about-section/about-card-logo1.svg");
        background-position: right top 45px; 
        background-repeat: no-repeat;
        background-size: 50px;
    }

    .about-card:nth-child(2) {
    background-color: var(--orange);
    }
    .about-card:nth-child(2)::after {
    background-position: center;
    background-size: contain;
    background-image: url("/assets/about-section/about-card-img2.svg");
    }

    .about-card:nth-child(3) {
    background-image: url("/assets/about-section/about-card-img3.svg");
    background-size: cover;
    background-position: center;
    position: relative;
    }

    .about-card:last-child {
    position: relative;
    z-index: 1;
}
    .about-card:nth-child(3)::after {
    background-position: right top;
    top: 0;
    background-size: 100%;
    background-image: url("/assets/about-section/about-dot-pattern.svg");
    opacity: 0.8;
    }

 
    @media (max-width: 1200px) {
        .header-content , .about-header-title{
            font-size: 45px;
        }
        .header-content , .about-cta-btn {
            font-size: var(--font-xxxl);
        }
        .vector-hr{
            display: none;
        }

        
    }
    
    @media (max-width: 1024px) {
        .about-header-title{
        font-size: 40px;
        }
    
    }
    
    @media (max-width: 768px) {
        .vector-hr{
            display: none;
        }
        .header-content{
            max-width: 100%;
            padding-block: 40px;
            border-bottom: 1px solid var(--main-black);
        }
        .header-content , .about-cta-btn{
            width: 100%;
            padding: 20px 8px;
            font-size: var(--font-s);
            justify-content: center;
        }
    }
    @media (max-width: 576px ) {
        .header-content , .about-header-title{
            font-size: var(--font-xl);
        }
        .about-cta-btn{
            width: 100%;
        }
    }


    @media (max-width: 1270px) {
        .cards-wrapper{
            gap: 20px;
        }
        .about-card{
            min-height: 400px;
            padding: 20px;
        }
        .card-title{
            font-size: var(--font-xxxl);
            line-height: 36px;
        }
        .card-footer, .about-cta-btn{
            font-size: var(--font-m);
        }
    }
    @media (max-width: 1050px) {
        .card-title{
            font-size: var(--font-xxxl);
            line-height: 30px;
        }
        .card-footer, .about-cta-btn{
            font-size: var(--font-l);
        }
        .about-line-1 , .about-line-2{
            display: none;
        }
        .cards-wrapper{
        flex-direction: column;
        align-items: center;
       }
       .about-card{
        width: 100%;
        max-width: 400px;
       }
       .about-card:first-child {
        background-position: right top 45px;
        background-size: 50px auto;
       }
   
}
    @media (max-width: 768px) {
        .about-cards-container{
            padding: 40px 20px;
        }
     
        .cards-wrapper{
            flex-wrap: wrap;
        }
        .about-card{
            width: unset;
            flex-grow: 1;
        }
        .about-card {
            width: 100%;
            max-width: 360px;
            height: 450px;
        }
        .about-card:first-child {
            background-position: right -30px top 45px;
            background-size: 50px auto;
           }
    }
    @media (max-width: 576px ){
        .about-header-title{
            font-size: var(--font-xxxl);
        }
        .card-title{
            font-size:var(--font-xxxl);
        }
        .about-cta-btn{
            height: 40px;
        }
    }


    
    /* About Section End */

     /*What We Do Section Start*/
     .what-we-do-section{
        width: 100%;
        background-color: var(--off-white);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .what-we-do-section  .text-content{
        display: flex;
        align-items: start;
        justify-content: center;
        width: 100%;
        gap: 30px;
    }
    .what-we-do-section .wds-chip{
        width: 100%;
        max-width: 150px;
    }
    .what-we-do-section .wds-chip-text{
        gap: 20px;
        font-family: var(--secondary-font);
        font-weight: var(--medium);
        color:  #8D8D8D;
    }
    .wds-chip-icon::before {
        content: "◆";
        color:  #8D8D8D;
        font-size: 20px;
        margin-right: 8px;
        display: inline-block;
    }

    .what-we-do-section  .features{
        display: flex;
        flex-direction: column;
        gap: 45px;
    }
    .what-we-do-section  .wds-title{
        font-family: var(--primary-font);
        font-size: var(--font-section-title);
        font-weight: var(--thick);
        width: 600px;
    }
    .what-we-do-section  .feature-list{
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 530px;
    }
    .what-we-do-section .list-item{
        list-style: none;
        font-family: var(--secondary-font);
        display: flex;
        gap: 38px;
    }

    .what-we-do-section .number{
        color: var(--light-gray);
        font-size: var(--font-xxxl);
        font-weight: var(--medium);
        width: 30px;
    }
    .what-we-do-section .feature{
        color: var(--main-black);
        font-size: var(--font-l);
    }
    .what-we-do-section .wds-button{
        width: 200px;
        padding: 20px;
        border-radius: 50px;
        border: 1px solid var(--main-black);
        font-family: var(--secondary-font);
        font-size:  var(--font-xl);
        font-weight:  var(--medium);
        background: none;
    }
    .what-we-do-section .wds-image-wrapper{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 800px;
        width: clamp(390px, 100%, 800px);
    }
    .wds-image-wrapper img{
        width: 100% ;
        object-fit: cover;  
        height: 100%;
    }
    .what-we-do-section .text-content,
    .what-we-do-section .wds-image-wrapper {
        flex: 1;
}
    .what-we-do-section .cover{
        position: absolute;
        width: 100%;
        height: 200px;
        border-radius: 30px 30px 0 0;
        backdrop-filter: blur(20px);
        box-shadow: 
                    -3.866px -3.866px 7.731px 0px rgba(0, 0, 0, 0.1) inset ,
                    3.866px 3.866px 7.731px 0px rgba(255, 255, 255, 0.2) inset;
        left: 0;
        bottom: 0;
        background-image: url("/assets/what-we-do-section/what-we-do-section-dot-pattern.svg"); 
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .what-we-do-section .description{
        display: flex;
        flex-direction: column;
        align-items: start;
        color: var(--white);
    }
    .what-we-do-section .quote{
        width: 100%;
        font-family: var(--primary-font);
        font-weight: var(--thick);
        font-size: 40px;
    }
    .what-we-do-section .date{
        font-family: var(--secondary-font);
        font-size: var(--font-xxl);
        font-weight: var(--regular);
    }

    @media (max-width: 1550px){
        .what-we-do-section .text-content{
            padding: 0 10px;
            gap: 20px;
        }
       .what-we-do-section .wds-title{
            max-width: 100%;
        }
        .what-we-do-section .feature{
            font-size: var(--font-m);
        }
        .what-we-do-section .features{
            width: unset;
            max-width: 100%;
            gap: 30px;
        }
        .what-we-do-section .feature-list{
            gap: 20px;
            max-width: 100%;
            width: 100%;
        }
        .wds-chip{
            font-size: var(--font-s);
        }
        .quote{
            font-size: var(--font-xxxl);
        }
    }
    @media (max-width: 1495px) {
        .what-we-do-section .text-content{
            padding: 20px;
            flex-direction: column;
            gap: 20px;
        }
       .what-we-do-section .wds-chip{
            font-size: var(--font-xs);
        }
       .what-we-do-section .feature{
            font-size: 20px;
        }
       
        .what-we-do-section .quote{
            font-size: var(--font-xxxl);
        }
    }
    @media (max-width: 1200px) {
        .what-we-do-section .text-content{
            max-width: 100%;
            flex-direction: column;
        }
        .what-we-do-section .features{
            gap: 20px;
        }
        .wds-chip-text, .feature{
            font-size: var(--font-s);
        }
        .what-we-do-section .wds-title{
            font-size: var( --font-subheading);
        }

        .what-we-do-section .number{
            font-size: var(--font-l);
        }
        .what-we-do-section .quote{
            font-size: var(--font-xl);
        }
        .what-we-do-section .date{
            font-size: var(--font-m);
        }
        .what-we-do-section .feature-list ,
        .what-we-do-section .list-item {
            gap: 10px;
        }
        .what-we-do-section .wds-button {
            width: 150px; 
            padding: 15px;
            font-size: var(--font-m);
            border-radius: 40px; 
        }
        .what-we-do-section .wds-image-wrapper {
            width: 100%;
            height: 100%; 
        }
        .wds-image-wrapper img {
            width: 100%;
            height: 100%;
        }
        .what-we-do-section .cover{
            height: 130px;
        }
      
    }

    @media (max-width: 992px){
        .what-we-do-section .text-content{
            padding: 30px 20px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width:100%;
            width: 100%;
        }

       .what-we-do-section .list-item{
           max-width: unset;
       }
       .what-we-do-section .wds-chip{
        align-self: flex-start;
        }
        .what-we-do-section .wds-button{
            width: 120px;
            font-size: var(--font-s);
            height: 30px;
            padding: 10px 5px;
        }
        .what-we-do-section .wds-title{
            font-size: var(--font-xxxl);
            max-width: 100%;
            width: 100%;
            line-break: unset;
        }
         .what-we-do-section .wds-chip-text{
            font-size: var(--font-s);
        }
        .what-we-do-section{
            flex-direction: column;
        }
        .what-we-do-section .wds-button{
            height: auto;
            width: 100%;
            max-width: 100%;
        }
        .what-we-do-section .features{
            max-width: 100%;
            width: 100%;
            gap: 27px;
        }
        .what-we-do-section .feature-list{
            gap: 10px;
        }
        .what-we-do-section .list-item{
            gap: 10px;
        }
        .what-we-do-section .number{
            font-size: var(--font-l);
        }
        .what-we-do-section .feature{
            font-size: var(--font-m);
            max-width: 100%;
            width: 100%;
        }
        .what-we-do-section .cover{
            height: 180px;
         }
    }
    @media (max-width: 768px) {
        .what-we-do-section{
            flex-direction: column;
            gap: 10px;
            padding: 0;
        }
        .what-we-do-section .wds-image-wrapper{
            max-width: 100%;
        }
        .what-we-do-section .wds-title{
            font-size: var(--font-xxl);
        }
    }
    @media (max-width: 576px) {
        .what-we-do-section .text-content{
            padding: 20px;
        }
        .what-we-do-section .wds-title{
            font-size: var(--font-xl);
        }
        
        .what-we-do-section .number{
            font-size: var(--font-m);
            width: 20px;
        }
        .what-we-do-section .cover{
           height: 150px;
        }
        .what-we-do-section .quote{
            font-size: var(--font-l);
        }
        .what-we-do-section .date{
            font-size: var(--font-m);
        }
        .what-we-do-section .wds-button{
            width: 100%;
        }
    }
    /*What We Do Section End*/

    /* Our Section Start*/
     .our-services-section{
        padding: 80px 50px;
        position: relative;
     }
     .services-wrapper{
        width:100%;
        max-width: var(--max-width);
        margin-inline: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
     }
    .services-chip-container{ 
        align-items: flex-start;
        padding: 30px 20px 0 0 ;
     }
    .services-chip-text{
        color:#8D8D8D;
        font-family: var(--secondary-font);
        
    }
    .services-chip-icon::after{
        content: "◆";
        color:  #8D8D8D;
        font-size: 20px;
        margin-right: 8px;
        display: inline-block;
    }
    .services-content{
        display: flex;
        justify-content: space-between;
        align-content: center;
        gap: 50px; 
        width: 100%;
     }
     .services-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex: 1.5; 
        max-width: 30%;
    }
    .services-list .services-title ,
     .services-list .service{
        color: var(--orange);
        font-family: var(--primary-font);
        font-weight: var(--thick);
        font-size: 40px;
    }
    .services-list .services-title{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 30px;
        }
     .services-list .service{
        cursor: pointer;
        list-style: none;
        color: var(--white);
        transition: all 0.2s ease-in-out;
     }
     .services-list .service:hover{
        color: var(--orange);
        transform: translateX(10px);
     }
    .services-image-container{
        display: flex;
        justify-content: flex-end;
    
        flex: 2;
        max-width: 40%;
     }
     
     .services-image-container img {
        max-width: 100%; 
    }
       .services-left-line{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 20%;
    }
    .services-right-line{
        position: absolute;
        right: 20px;
        bottom: 5px;
        z-index: 3;
        width: 30%;
        }

    .services-blur-img{
        width: 250px;
        position: absolute;
        right: 5%;
        bottom: 5%;
        display: grid;
        place-items: center;
        z-index: 2;
        backdrop-filter: blur(10px);
        border-radius: 10px;

        background-image: url("/assets/services-section/our-services-dot-pattern.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top right ;
    }

    @media (max-width: 1384px){
        .services-list  .service{
            font-size: 30px;
        }
        .services-list .services-title {
            font-size: 30px;
        }
        .services-list .services-arrow{
            height: 40px;
            width: 40px;
        }
        .services-blur-container ,
        .services-right-line{
            display: none;
        }
    }

    @media (max-width: 1068px){
        .services-list .services-arrow{
            height: 30px;
            width: 30px;
        }
        .services-list{
            max-width: 50%; 
            text-align: left;
        }
        .services-list .services-title {
            font-size: var(--font-xxl);
        }
        .services-list  .service{
            font-size: var(--font-xxl);
        }
        .services-chip-text{
            font-size: var( --font-s);
        }
        .services-chip-icon{
            font-size: var(--font-s);
        }
        .services-left-line{
            display: none;
        }

    }
   
    @media (max-width: 950px){
        .services-chip-container{
        padding: 0;
        }
        .services-list {
            width: 100%;
            padding-left: 20px;
            align-items: flex-start;
        }
        .services-list  .service{
            font-size: var( --font-xl);
        }
        .services-list .services-title {
            margin-top: 10px;
            font-size: var( --font-xl);
        }
        .services-image-container{
            max-height: 400px;
            padding-left: 5px;
        }
        
    }
    
    @media (max-width: 859px) {
        .our-services-section {
            padding: 50px 20px;
        }
        .services-wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
        }
        .services-chip-container {
            width: 100%;
            display: flex;
            justify-content: flex-start; 
            align-items: center;
            padding-left: 20px; 
        }
        .services-content {
            display: flex;
            flex-direction: column; 
            text-align: left; 
            gap: 10px;
            width: 100%;
            padding-left: 0 5px; 
        }
        .services-list {
            width: 100%;
            padding-left: 20px;
            max-width: unset;
        }
        .services-image-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            min-height: 628px;
            height: 100%;
            max-width: 390px;
        }
        .services-image-container img {
            min-height: 628px;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
        }
    }
    
  @media(max-width: 562px){
    .our-services-section {
        padding: 40px 10px;
    }
    .services-chip-container{
        padding-right: 20%;
    }
    .services-chip-text{
        font-size:15px ;
    }
    .services-chip-icon{
        font-size: 15px;
    }
  }
    /* Our Section End*/

    /*Footer Section Start*/

    .footer-section{
        background-color: #282828;
        color: var(--white);
        display: flex;
        width: 100%;
        margin: 0 auto;
        gap: 50px;
        padding: 20px 90px;
        justify-content: space-between;
        
        }
        .footer-container-left{
        display: flex;
        gap: 250px;
        }
        .footer-container-left img{
        padding: 30px 0 ;
        max-width: 100%;
        }
        .footer-container-right{
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 50px;
        max-width: 975px;
        font-family: var(--secondary-font);
        }
        .footer-container-right h5 {
            font-family: var(--primary-font);
        }
        .footer-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .title-wrapper{
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        }
        .title{
        border-top: 1px solid white;
        padding-top: 20px;
        font-size: 30px;
        font-weight: var(--thick);
        margin-bottom: 20px;
        margin-top: 35px;
        }
        .subtitle-list{
        color: white;
        list-style: none;
        font-size: 20px;
        font-weight: 200;
        display: flex;
        flex-direction: column;
        gap: 15px;
        }
        .subtitle-list a {
        display: flex;
        justify-content: flex-start;
        color: white;
        text-decoration: none;
        }
    
        @media (max-width: 1300px) {
            .footer-container-right{
                width: 100%;
                gap: 10px;
            }
            .footer-container-left{
                gap: 50px;
            }
            .title{
                font-size: var(--font-xxl);
            }
            .subtitle{
                font-size: var(--font-l);
            }
        }
        @media (max-width:1092px) {
            .footer-container-right{
                width: 100%;
            }
            .title{
                font-size: 18px;
            }
            .subtitle{
                font-size: 16px;
            }
    
        }
        @media (max-width:995px) {
            .footer-section {
                padding: 50px;
                flex-wrap: wrap;
                gap: 0;
            }
            .footer-container-left img{
                margin-left: 0;
            }
            .footer-container-right {
                flex-wrap: wrap;
            }
            .footer-container-left img{
                width: 80%;
            }
        }
    
        @media (max-width:585px) {
            .footer-section {
                padding: 20px;
                flex-wrap: wrap;
            }
            .footer-container-left img{
                padding: 20px;
            }
            .footer-container-right {
                flex-wrap: wrap;
                padding: 0 25px;
            }
            .footer-container-left img{
                width: 80%;
            }
        }
    /*Footer Section End*/

